<%- model_class = Notification -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_notification_path,
            :class => 'btn btn-primary' %>

<h2>All Notifications</h2>
<table class="table table-striped">
<div class="row">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:date_opened) %></th>
      <th><%= model_class.human_attribute_name(:host) %></th>
      <th><%= model_class.human_attribute_name(:service) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%= model_class.human_attribute_name(:output) %></th>
    </tr>
  </thead>
  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= link_to notification.date_opened.strftime('%a %e %b %Y %T %Z'), notification_path(notification) %></td>
        <td class="host"><%= notification.host %></td>
        <td class="host"><%= notification.service %></td>
        <td><%= button_tag notification.state, class: "btn btn-#{notification.state} btn-xs "%></td>
        <td><%= notification.output %></td>
      </tr>
      <tr>
        <th colspan="1"><%= model_class.human_attribute_name(:tags) %></th>
        <th colspan="4"><%= model_class.human_attribute_name(:notes) %></th>
      </tr>
      <tr>
        <td>
          <%= simple_form_for notification, :html => { :class => 'form-horizontal' } do |f| %>
            <%= f.input :tag, label: false, collection: Notification::TAG %>
          <% end %>
        </td>
        <td colspan="4"><%= notification.notes %></th>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>


<%= link_to t('.new', :default => t("helpers.links.back")),
            notifications_path,
            :class => 'btn btn-primary' %>
</div>
