<%- model_class = Notification -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:date_opened) %>:</strong></dt>
  <dd><%= @notification.date_opened %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date_closed) %>:</strong></dt>
  <dd><%= @notification.date_closed %></dd>
  <dt><strong><%= model_class.human_attribute_name(:host) %>:</strong></dt>
  <dd><%= @notification.host %></dd>
  <dt><strong><%= model_class.human_attribute_name(:service) %>:</strong></dt>
  <dd><%= @notification.service %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @notification.state %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tag) %>:</strong></dt>
  <dd><%= @notification.tag %></dd>
  <dt><strong><%= model_class.human_attribute_name(:notes) %>:</strong></dt>
  <dd><%= @notification.notes %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              notifications_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_notification_path(@notification), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              notification_path(@notification),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
